                                        /* Le Menu de navigation ! */
nav{
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    background-color: #2e3138;
    text-align: center;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li{
    display: inline-block;
    position: relative;
}

nav > ul > li > a{
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    padding: 20px 30px;
    color: #d1d1d1;
}

nav > ul > li:hover a{
    color: white;
} 

nav li{
    list-style-type: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

nav a{
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-home:hover{
    background-color: RGBA(71, 76, 86, 0.5);
    border-radius: 20px;
}

.nav-test:hover{
    background-color: RGBA(71, 76, 86, 0.5);
    border-radius: 20px;
}

.nav-about:hover{
    background-color: RGBA(71, 76, 86, 0.5);
    border-radius: 20px;
}

.nav-map:hover{
    background-color: RGBA(71, 76, 86, 0.5);
    border-radius: 20px;
}

.nav-login:hover{
    background-color: RGBA(71, 76, 86, 0.5);
    border-radius: 20px;
}

                                        /* Le Body / Centre de la page */

.rouge{
    color: #df0000;
}

body{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

p{
    font-family: 'Comfortaa';
}

nav > ul > li{
    font-size: 24px;
}

h1{
    font-size: 34px;
}

hr{
    margin-top: 50px;
    margin-bottom: 10px;
}
.card p{
    font-size: 24px;
}

.card a{
    font-size: 44px;
    color: black;
}

.soustitre{
    font-size: 20px;
}

.soustitretwo{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    list-style-type: none;
}

section{
    flex-grow: 1;
}

#boutontest{
    font-size: 45px;
    color: #000000;
    transition: color 0.5s, font-size 0.5s;
}

#boutontest:hover{
    font-size: 50px;
    color: #4c505a;
    transition: color 0.5s, font-size 0.5s;
}

.container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.card{
   /* border: solid red 1px;*/
    width: 50%;
    font-size: 24px;
}

.cardtwo{
    /*border: solid red 1px;*/
    width: 50%;
    font-size: 24px;
    margin-bottom: 100px;
}


                                        /* Le style pour la page "À Propos" */

.squad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.pabout{
    margin-right: 100px;
    margin-left: 100px;
}

.ulabout{
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.squad h3{
    font-family: 'Comfortaa';
}

.squad img{
    border-radius: 20px;
}

.squad p{
    max-width: 250px;
}

.opensource{
    margin-top: 200px;
}

                                        /* Le style du formulaire ! */

select {
    margin-top: 10px;
    width: 50%;
    margin-bottom: 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f3f2f2;
}

#formulairedon label{
    margin: 0px;
    padding: 0px;
}

#formulairedon input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}
  
#formulairedon input:focus {
    border: 3px solid #555;
}

#formulaireco input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

#formulaireco input:focus{
    border: 3px solid #555;
}

#boutonindex{
    font-size: 45px;
    color: #df0000;
    transition: color 0.5s, font-size 0.5s;
}

#boutonindex:hover{
    font-size: 50px;
    color: #4d0000;
    transition: color 0.5s, font-size 0.5s;
}

#reptexte{
    font-size: 25px;
    margin-top: 90px;
    margin-left: 25px;
    margin-right: 25px;
}

#texteformulairedon{
    font-family: 'Comfortaa', cursive;
    font-size: 16px; 
    font-style: italic;
    position: relative;
}

#cache{
    display:none;
}

                                        /* Le style du questionnaire ! */

#question{
    font-size: 40px;
}

#question p{
    margin-top: 100px;
}

#radio{
    margin-top: 60px;
    margin-bottom: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
}

#radio input{
    margin-right: 100px;
    height: 25px;
    width: 25px;   
    cursor: pointer;   
}

#radio label:hover{
    cursor: pointer;    
}

#bouton{
    border-style: none;
	padding:26px 50px 26px 50px;
	border-radius:8px;
	background-color: #2e3138;
	font:bold 18px Arial;
    color:#fff;
    transition: box-shadow 0.5s,background-color 0.3s; 
}

#boutonsave{
    border-style: none;
    margin-top: 20px;
	padding:26px 50px 26px 50px;
	border-radius:8px;
	background-color: #2e3138;
	font:bold 18px Arial;
    color:#fff;
    transition: box-shadow 0.5s,background-color 0.3s; 
}

#bouton:hover{
        box-shadow:0px 0px 20px #999;
        background-color: #5a606e;
        cursor: pointer;
        transition: box-shadow 0.5s, background-color 0.3s;
}

.mauvaisereptitre{
    color: red;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.reptexte{
    font-size: 25px;
    margin-top: 90px;
    margin-left: 25px;
    margin-right: 25px;
}

.bonnerep{
    color: green;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.moyennerep{
    color: orange;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
}

                                      /* Le style du login / singup ! */

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#login h1{
    margin-top: 10px;
    margin-bottom: 75px;
}

#login h1 a{
    color: #df0000;
    transition: color 0.5s; 
}

#login h1 a:hover{
    color: #4d0000;
    transition: color 0.5s; 
}

#login b{
    font-family: 'Comfortaa', cursive;
}

#login label{
    margin-top: 1px;
}

#boutonemail{
    border-style: none;
	padding: 16px;
	border-radius:8px;
	background-color: #2e3138;
	font:bold 18px Arial;
    color:#fff;
    transition: box-shadow 0.5s,background-color 0.3s;
    width: 30%;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 10px;
}

#boutonemail:hover{
    box-shadow:0px 0px 20px #999;
    background-color: #5a606e;
    cursor: pointer;
    transition: box-shadow 0.5s, background-color 0.3s;
}

#margebas{
    margin-bottom: 50px;
}

.arsing{
    display: flex;
    flex-direction: column;

}

#formulaireco:nth-of-type(1) { 
    order: 2; 
}

.badmail:nth-of-type(2) {
    order: 1;
}

.goodmail:nth-of-type(2) {
    order: 1;
}


.badmail{
    color: red;
    order: 0;
}

.goodmail{
    color: rgb(216, 218, 216);
    order: 0
}

                                        /* La carte ! */

.pmap{
    margin-top: 50px;
}

iframe{
    margin: 50px;
}

                                        /* Le footer / bas de page */

#footer{
        display: flex;
        align-items: flex-end;
        bottom: 0;
        left: 0;
        margin-top: 20px;
        width: 100%;
        height: 150px;
        background-color: #2e3138;
}

footer p{
        color: white;
}

.pfooter{
        text-align: left;
        padding: 10px;
        margin: 10px;
}

.pfooter2{
        font-size: 10px;
        text-align: left;
        padding: 10px;
        margin: 10px;
}
                            /* Partie responsive ! */

@media (max-width: 1200px) {
    .container{ 
        flex-direction: column;
        margin-top: 50px;
    }

    .card{
         width: 100%;
         margin-bottom: 100px;
         padding-bottom: 50px;
     }
     
    .cardtwo{
         width: 100%;
         margin-bottom: 100px;
     }

    #boutonindex{
        transition: color 0.5s;
    }
    
    #boutonindex:hover{
        font-size: 45px;
        transition: color 0.5s; 
    }

    #radio{
        margin-bottom: 30px;    
        flex-direction: column;
    }

    #radio input{ 
        margin-bottom: 25px;
    }

    #bouton{
        margin-bottom: 70px;
    }

    #question{
        font-size: 30px;
    }
}
                            
                            /* Scrollbar custom */

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
