				/* NAVBAR GENARAL */

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
	background-color: #302E4E;
	max-height: 75px;
}

#logo {
	padding: 10px;
}

.navbarList  {
	display: flex;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

				/* NAVBAR 1 */

#one-list {
	padding-right: 10px;
	padding-left: 10px;
}

.firstLi {
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #F63D3D;
}

				/* SUB NAVBAR */

#subUl {
	display: none;
}

				/* NAVBAR 2 */


.thirdLi {
	padding: 5px;
	margin-right: 25px;
	margin-left: 0px;
	/* background-color: #7e7c94; */
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	transition: 0.3s;
}

#singinLi {
	border: 2px solid #F63D3D;
}

#singinLi:hover {
	background-color: #F63D3D;
}

#singupLi {
	background-color: #F63D3D;
	border: 2px solid #F63D3D;
}

 #singupLi:hover{
	 color: black;
	 background-color: #302E4E;
 }